<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>invitation</title>
<!--     <meta name="viewport" content="width=device-width, initial-scale=1">
 -->    <meta name="format-detection" content="telephone=no">
</head>

<body style="font-size:14px;color:#4a4a4a;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;margin:0 auto;max-width:680px;">
        <tbody>
            <tr>
                <td height="82" style="font-size: 0px;line-height: 0px">&nbsp;</td>
            </tr>
            <tr>
                <td><img src="https://static.aqumon.com/email/img/gray_logo.png" style="height:18px;width:95px;border:none;float: right;"></td>
            </tr>
            <tr>
                <td height="23" style="font-size: 0px;line-height: 0px">&nbsp;</td>
            </tr>
            <tr>
                <td style="line-height:20px;font-size:14px;">{{dear1}}{{name}}{{dear2}}</td>
            </tr>
            <tr>
                <td height=" 28 " style="font-size: 0px;line-height: 0px ">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <table border="0 " cellpadding="0 " cellspacing="0 " width="100% " style="border-collapse:collapse; ">
                        <tbody>
                            <tr>
                                <td><span style="line-height:23px;font-size:14px;font-family: 'Microsoft YaHei', 'pingfang',Helvetica,sans-serif;display:block ">{{good_news1}} <span style="color:#ff671b; ">VIP</span>{{good_news2}}
                                    <br> {{good_news3}}{{code}}，
                                    <br> {{good_news4}} <a style="color:#ff671b;" href="{{link}}">{{good_news5}} </a>{{good_news6}}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td height="37 " style="font-size: 0px;line-height: 0px ">&nbsp;</td>
                            </tr>
                            <tr>
                                <td><span style="line-height:20px;pointer-events:none;font-size:14px;font-family: 'Microsoft YaHei', 'pingfang',Helvetica,sans-serif;display:block ">{{activate_url}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top"><span><a href="{{link}}" style="font-size:14px;color:#00b1ff;line-height:23px;text-decoration: none;cursor: pointer;">{{link}}</a></span>
                                </td>
                            </tr>
                            <tr>
                                <td height="39" style="font-size: 0px;line-height: 0px ">&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="39" style="pointer-events:none;font-size:14px;color:#626262;font-family: 'Microsoft YaHei', 'pingfang',Helvetica,sans-serif; ">{{maid}}</td>
                            </tr>
                            <tr>
                                <td height="9" style="font-size: 0px;line-height: 0px ">&nbsp;</td>
                            </tr>
                            <tr>
                                <td valign="top "><span style="pointer-events:none;font-size:14px;color:#626262;font-family: 'Microsoft YaHei', 'pingfang',Helvetica,sans-serif; ">{{reminder}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="36 " style="font-size: 0px;line-height: 0px ">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <span style="line-height:20px;font-size:14px;color:#626262;font-family: 'Microsoft YaHei', 'pingfang',Helvetica,sans-serif ">{{hope}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="line-height:20px;font-size:14px;color:#626262;font-family: 'Microsoft YaHei', 'pingfang',Helvetica,sans-serif ">{{about_1}}</span>
                </td>
            </tr>
            <tr>
                <td height="" style="font-size: 0px;line-height: 0px ">&nbsp;</td>
            </tr>
            <tr>
                <td style="color:#8c8c8c;height: 1px;width: 100%;">
                </td>
            </tr>
            <tr>
                <td height="12" style="font-size: 0px;line-height: 0px ">&nbsp;</td>
            </tr>
            <tr>
                <td height="28 " style="font-size: 0px;line-height: 0px ">&nbsp;</td>
            </tr>
            <tr>
                <td height="24 " style="font-size:0px; line-height: 0px;border-top:1px #8c8c8c solid "></td>
            </tr>
            <tr>
                <td style="color:#8c8c8c;line-height:23px;font-size:16px; ">{{about}}
                </td>
            </tr>
            <tr>
                <td height="9" style="font-size: 0px;line-height: 0px ">&nbsp;</td>
            </tr>
            <tr>
                <td style="color:#8c8c8c;font-size: 14px;line-height: 1.8">{{targets}}
                </td>
            </tr>
            <tr>
                <td height="28" style="font-size: 0px;line-height: 0px ">&nbsp;</td>
            </tr>
            <tr>
                <td style="color:#8c8c8c;font-size:11px;font-family: 'Microsoft YaHei', 'pingfang',Helvetica,sans-serif;line-height:23px;text-align: right;">* {{question}}
            </tr>
            <tr>
                <td height="40 " style="font-size: 0px;line-height: 0px ">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</body>

</html>